div.form-wrapper{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    max-width: 700px;

    & > .form-header{
        width: 100%;
        height: 10%;
        display: flex;
        margin-bottom: 10px;
        
        & > h1{
            font-weight: normal;
        }
    }

    & > .form-content{
        width: 100%;
        height: 90%;
        margin-bottom: 20px;

        & > form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            & > div.column {
                display: flex;
                flex-direction: column;
            }

            & > div.row {
                width: 100%;
                height: 100%;
                margin-top: 15px;
                display: flex;
                flex-direction: row;

                & > input {
                    border: 1px solid rgba(55, 59, 79, 0.24);
                }

                & > div.form-image{
                    width: 30%;
                }
    
                & > div.form-inputs {
                    width: 70%;
                }

                & > textarea {
                    width: 100%;
                    resize: none;
                    padding: 10px;
                    font-size: 16px;
                    color: #494362;
                }
            }

            & > div.submit-button {
                display: flex;
                justify-content: flex-end;
                height: 50px;

                & > button {
                    width: 40%;
                    background: #456ED6;
                    border-radius: 8px;
                    border: 0;
                    color: white;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
}